@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-1: #261e8b;
  --color-2: #aea8ba;
  --color-3: #7a7485;
  --color-4: #7d0000;
  --color-5: #bb2223;
  --text: #494454;
}
* {
    box-sizing: border-box !important;
    font-family: 'Raleway', sans-serif !important;
}
html {
font-size: 10px !important;
}
body {
  overflow-x: hidden;
}
/* navbar */
